#intro {
    display: flex;
    width: 100vw;
    margin-top: 14vh;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-bottom: 7vh;
}

#intro img {
    height: 20vh;
    width: auto;
    border: 5px solid var(--main-gray);
    border-radius: 50%;
    padding: 1.5vh;
    margin-left: auto;
    margin-right: auto;
}

.intro-content {   
    margin: 0vh auto;
    margin-top: 5vh;
}

.intro-content h1{
    margin-bottom: 3vh;
    text-align: center;
}

.intro-content li {
    font-size: 85%;
    margin: 1.5vh 5vw;
    text-align: left;
}

#communities {
    margin-bottom: 7vh;
}

#communities h1 {
    text-align: center;
    margin: 2vw auto;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.logos img {
    max-height: 30vh;
    max-width: 30vw;
    width: auto;
    height: auto;
    margin: 2vh 2vw;
}

.longlogos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.longlogos img {
    max-height: 8vh;
    width: auto;
    height: auto;
    margin: 2vh 2vw;
}

#skills {
    display: block;
    margin-bottom: 6vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

#skills h1 {
    text-align: center;
    margin: 2vw auto;
}

#skills h2 {
    font-size: 1.3em;
    margin: 3vh auto;
    text-align: center;
}

.badges {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.badges img {
    height: 2.8vh;
    width: auto;
    margin: 2vh 1vw;
}

#resume {
    display: flex;
    flex-direction: column;
    margin: 0vh auto;
    margin-bottom: 5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#resume h1 {
    margin: 2.5vh auto;
    text-align: center;
}

#resume a {
    text-decoration: none;
    padding: 1vh 1vw;
    border: 2px solid var(--main-gray);
    border-radius: 5px;
    color: var(--main-gray);
}

#resume a:hover {
    color: var(--main-white);
    background-color: var(--main-gray);
} 

@media screen and (min-width: 600px) {
    .logos img {
        max-height: 13vh;
        max-width: 13vw;
        width: auto;
        height: auto;
        margin: 2vh 2vw;
    }

    .longlogos img {
        max-height: 7.5vh;
        width: auto;
        height: auto;
        margin: 2vh 2vw;
    }

    .intro-content li {
        font-size: 105%;
        margin: 1.5vh auto;
        text-align: left;
    }
}