#written-content {
    text-align: center;
    margin-top: 13vh;
}

.written-content-wrapper {
    display: flex;
    max-width: 80vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.written-content-wrapper a {
    text-decoration: none;
    color: var(--main-gray);
    display: flex;
    border: 2px solid var(--main-gray);
    border-radius: 2vw;
    padding: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 65vw;
    max-height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.written-content-tile {
    margin: 2vh auto;
    padding: 1vh;
    text-align: center;
}

.written-content-tile img {
    width: 80%;
}

.written-content-tile p {
    margin-top: 2vh;
    
}

.written-content-wrapper a:hover {
    background-color: var(--main-gray);
    color: var(--main-white);
}

#video-content {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#video-content .youtube-video {
    display: flex;
    max-width: 80vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#video-content .youtube-video iframe {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 320px;
    height: 180px;
}

@media screen and (min-width: 600px) {
    .written-content-wrapper a {
        text-decoration: none;
        color: var(--main-gray);
        display: flex;
        border: 2px solid var(--main-gray);
        border-radius: 2vw;
        padding: 2vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 50vw;
        max-height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #video-content .youtube-video iframe {
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 560px;
        height: 315px;
    }    
}