#projects {
    text-align: center;
    margin-top: 13vh;
}

.project-wrapper {
    display: flex;
    max-width: 80vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.project-wrapper a {
    text-decoration: none;
    color: var(--main-gray);
    display: flex;
    border: 2px solid var(--main-gray);
    border-radius: 2vw;
    padding: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 65vw;
    max-height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.project-tile {
    margin: 2vh auto;
    padding: 1vh;
    text-align: center;
}

.project-tile img {
    width: 80%;
}

.project-tile h2 {
    margin-top: 2vh;
}

.project-tile p {
    margin-top: 2vh;
}

.project-wrapper a:hover {
    background-color: var(--main-gray);
    color: var(--main-white);
}

@media screen and (min-width: 600px) {
    .project-wrapper a {
        text-decoration: none;
        color: var(--main-gray);
        display: flex;
        border: 2px solid var(--main-gray);
        border-radius: 2vw;
        padding: 2vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 50vw;
        max-height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }   
}