
/* ===== CSS VARIABLES ===== */
:root {
    --main-white: #ffeeee;
    --main-gray: #333333;
}

/* ===== GLOBAL STYLES ===== */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    background-color: var(--main-white);
    color: var(--main-gray);
}

.landing-page {
    background-color: var(--main-white);
    color: var(--main-gray);
    max-height: 100vh;
}

/* ===== NAVIGATION STYLES ===== */
#navbar {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-gray);
    z-index: 10;
    height: 10vh;
    line-height: 10vh;
}

#navbar ul {
    list-style: none;
    float: right;
    margin-right: 2vw;
}

#navbar li {
    text-align: center;
    display: inline;
    float: left;
    padding: 0vh 1vw;
    font-size: 90%;
}

#navbar ul li a {
    text-decoration: none;
    background-color: var(--main-gray);
    color: var(--main-white);
    border-radius: 1vw;
    font-size: 1rem;
    padding: 1vh 1vw;
    line-height: 10vh;
    transition-duration: 0.3s;
}

#navbar ul li a:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
    transition-duration: 0.3s;
}

.dropdown {
    position: relative;
    display: block;
    float: right;
}

.menu {
    background-color: var(--main-gray);
    color: var(--main-white);
    height: 10vh;
    width: 12vw;
    line-height: 10vh;
    z-index: 10;
    border: none;
    background: none;
}

.menu i {
    text-decoration: none;
    display: flex;
    padding: 1vh 1vw;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    top: 10vh;
    background-color: var(--main-gray);
    z-index: 1;
    min-width: 35vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
  
.dropdown-content a {
    text-decoration: none;
    display: block;
    background-color: var(--main-gray);
    color: var(--main-white);
    border: 5px solid var(--main-gray);
    border-radius: 1vw;
    font-size: 1rem;
    padding: 1vh 1vw;
    height: 5vh;
    line-height: 5vh;
    text-align: right;
    transition-duration: 0.3s;
}
  
.dropdown-content a:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
    transition-duration: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu {
    background-color: var(--main-white);
    color: var(--main-gray);
}

/* ===== WELCOME SECTION STYLES ===== */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 140%;
    padding: 0 1vw;
    margin-top: 10vh;
    height: 90vh;
}

#welcome-section img {
    height: 25vh;
    width: auto;
    border: 5px solid var(--main-gray);
    border-radius: 50%;
    padding: 1.5vh;
    margin-bottom: 2vh;
}

#welcome-section h1 {
    padding: 5vw;
}

#welcome-section p {
    padding: 0.5vw;
    margin-bottom: 3vh;
}

#welcome-section a {
    margin-bottom: 3vh;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: var(--main-gray);
    color: var(--main-white);
    font-size: smaller;
    padding: 1vw;
    border: 2px solid var(--main-gray);
    border-radius: 1vw;
    transition-duration: 0.3s;
}

#welcome-section a:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
    transition-duration: 0.3s;
}

/* ===== CONTACT SECTION STYLES ===== */
#contact {
    text-align: center;
    background-color: var(--main-gray);
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

/* ===== ABOUT PAGE STYLES ===== */
#intro {
    display: flex;
    margin-top: 14vh;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-bottom: 7vh;
}

#intro img {
    height: 20vh;
    width: auto;
    border: 5px solid var(--main-gray);
    border-radius: 50%;
    padding: 1.5vh;
    margin-left: auto;
    margin-right: auto;
}

.intro-content {   
    margin: 0vh auto;
    margin-top: 5vh;
}

.intro-content h1{
    margin-bottom: 3vh;
    text-align: center;
}

.intro-content li {
    font-size: 85%;
    margin: 1.5vh 5vw;
    text-align: left;
}

.company {
    text-decoration: none;
    color: var(--main-gray);
}

#companies {
    margin-bottom: 7vh;
}

#companies h1 {
    text-align: center;
    margin: 2vw auto;
}

#communities {
    margin-bottom: 7vh;
}

#communities h1 {
    text-align: center;
    margin: 2vw auto;
}

#conferences {
    margin-bottom: 7vh;
}

#conferences h1 {
    text-align: center;
    margin: 2vw auto;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.logos img {
    max-height: 30vh;
    max-width: 30vw;
    width: auto;
    height: auto;
    margin: 2vh 2vw;
}

.longlogos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.longlogos img {
    max-height: 8vh;
    width: auto;
    height: auto;
    margin: 2vh 2vw;
}

.logos .company img {
    max-height: 30vh;
    max-width: 30vw;
    width: auto;
    height: auto;
    margin: 2vh 2vw;
}

#skills {
    display: block;
    margin-bottom: 6vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

#skills h1 {
    text-align: center;
    margin: 2vw auto;
}

#skills h2 {
    font-size: 1.3em;
    margin: 3vh auto;
    text-align: center;
}

.badges {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.badges img {
    height: 2.8vh;
    width: auto;
    margin: 2vh 1vw;
}

#resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2vh;
}

#resume a {
    margin-top: 1.5vh;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: var(--main-gray);
    color: var(--main-white);
    padding: 1vw;
    border: 2px solid var(--main-gray);
    border-radius: 0.5vw;
    transition-duration: 0.3s;
}

#resume a:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
    transition-duration: 0.3s;
}

/* ===== BORDERED CONTENT STYLES (PROJECTS PAGE) ===== */
#bordered-content {
    text-align: center;
    margin-top: 13vh;
}

.bordered-content-wrapper {
    display: flex;
    max-width: 80vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.bordered-content-wrapper a {
    text-decoration: none;
    color: var(--main-gray);
    display: flex;
    border: 2px solid var(--main-gray);
    border-radius: 2vw;
    padding: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    max-height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.bordered-content-tile {
    margin: 2vh auto;
    padding: 1vh;
    text-align: center;
}

.bordered-content-tile img {
    width: 80%;
}

.bordered-content-tile h2 {
    margin-top: 2vh;
}

.bordered-content-tile p {
    margin-top: 2vh;
}

.bordered-content-wrapper a:hover {
    background-color: var(--main-gray);
    color: var(--main-white);
    transition-duration: 0.3s;
}

/* ===== CONTACT FORM STYLES ===== */
#message {
    text-align: center;
    margin-top: 13vh;
    margin-bottom: 2vh;
}

#message .message-wrapper {
    max-width: 80vw;
    margin: 5vh auto;
    justify-content: center;
}

#message .message-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#message .message-form-input {
    width: 50vw;
    height: 3vh;
    margin: 1vh;
    padding: 1vh 5vw;
    border: 1px solid var(--main-gray);
    border-radius: 1vh;
    font-family: sans-serif;
}

#message .longinput {
    height: 15vh;
    padding: 2.5vh 5vw;
}

#message .submitbutton {
    width: 20vw;
    height: 5vh;
    padding: 0;
    margin: 3vh 0;
    text-decoration: none;
    color: var(--main-white);
    background-color: var(--main-gray);
    transition: 0.3s;
}

#message .submitbutton:hover {
    width: 20vw;
    height: 5vh;
    padding: 0;
    margin: 3vh 0;
    text-decoration: none;
    background-color: var(--main-white);
    color: var(--main-gray);
    transition: 0.3s;
}

.socials {
    margin-top: 5vh;
    width: 100vw;
}

.socials h2 {
    color: var(--main-gray);
    margin: 3vh 0vw;
    text-align: center;
}

.socials img {
    height: 3vh;
    margin: 1vh 1vw;
}

.socials .socials-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    padding: 1vh 5vw;
    background-color: var(--main-gray);
}

/* ===== NEWSLETTER PAGE STYLES ===== */
#newsletter {
    text-align: center;
    margin-top: 13vh;
    margin-bottom: 2vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    height: 77vh;
}

#newsletter img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 70vw;
}

.revue-form-field {
    width: 50vw;
    height: 3vh;
    margin: 1vh;
    padding: 1vh 5vw;
    border: 1px solid var(--main-gray);
    border-radius: 1vh;
    font-family: sans-serif;
}

.submitbutton {
    width: 25vw;
    height: 5vh;
    padding: 0;
    margin: 3vh 0;
    text-decoration: none;
    color: var(--main-white);
    background-color: var(--main-gray);
    transition: 0.3s;
    border-radius: 1vw;
}

.submitbutton:hover {
    width: 25vw;
    height: 5vh;
    padding: 0;
    margin: 3vh 0;
    text-decoration: none;
    background-color: var(--main-white);
    color: var(--main-gray);
    transition: 0.3s;
    border-radius: 1vw;
}

footer {
    text-align: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

/* ===== VIDEOS PAGE STYLES ===== */
#video-content {
    text-align: center;
    margin-top: 13vh;
}

#video-content h2 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#video-content .youtube-video {
    display: flex;
    max-width: 80vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#video-content .youtube-video iframe {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 320px;
    height: 180px;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 300px) {
    #navbar ul li a {
        text-decoration: none;
        background-color: var(--main-gray);
        color: var(--main-white);
        border-radius: 1vw;
        font-size: 0.9rem;
        padding: 1vh 1vw;
        line-height: 10vh;
        transition-duration: 0.3s;
    }
}

@media screen and (min-width: 600px) { 
    #welcome-section img {
        height: 25vh;
        width: auto;
        border: 5px solid var(--main-gray);
        border-radius: 50%;
        padding: 1.5vh;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }

    #welcome-section h1 {
        padding: 2vw;
    }    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        left: auto;
        top: 10vh;
        background-color: var(--main-gray);
        z-index: 1;
        min-width: 18vw;
    }

    .menu {
        background-color: var(--main-gray);
        color: var(--main-white);
        height: 10vh;
        width: 6vw;
        line-height: 10vh;
        padding: 1vh 1vw;
        z-index: 10;
        border: none;
        background: none;
    }
    
    /* About page responsive styles */
    .logos img {
        max-height: 13vh;
        max-width: 13vw;
        width: auto;
        height: auto;
        margin: 2vh 2vw;
    }

    .longlogos img {
        max-height: 7.5vh;
        width: auto;
        height: auto;
        margin: 2vh 2vw;
    }

    .logos .company img {
        max-height: 20vh;
        max-width: 20vw;
        width: auto;
        height: auto;
        margin: 2vh 2vw;
    }

    .intro-content li {
        font-size: 105%;
        margin: 1.5vh auto;
        text-align: left;
    }

    /* Projects page responsive styles */
    .bordered-content-wrapper a {
        text-decoration: none;
        color: var(--main-gray);
        display: flex;
        border: 2px solid var(--main-gray);
        border-radius: 2vw;
        padding: 2vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 40vw;
        max-height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /* Videos page responsive styles */
    #navbar ul {
        list-style: none;
        float: right;
        margin-right: 0.5vw;
    }

    #video-content .youtube-video iframe {
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 560px;
        height: 315px;
    }

    /* Newsletter page responsive styles */
    #newsletter img {
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 40vw;
    }    .revue-form-field {
        width: 20vw;
        height: 2vh;
        margin: 1vh;
        padding: 1vh 5vw;
        border: 1px solid var(--main-gray);
        border-radius: 1vh;
        font-family: sans-serif;
    }
    
    .submitbutton {
        width: 10vw;
        height: 5vh;
        padding: 0;
        margin: 3.5vh 0;
        text-decoration: none;
        color: var(--main-white);
        background-color: var(--main-gray);
        transition: 0.3s;
        border-radius: 1vw;
    }

    .submitbutton:hover {
        width: 10vw;
        height: 5vh;
        padding: 0;
        margin: 3.5vh 0;
        text-decoration: none;
        background-color: var(--main-white);
        color: var(--main-gray);
        transition: 0.3s;
        border-radius: 1vw;
    }
}

@media screen and (min-width: 800px) {
    /* Contact page responsive styles */
    #message .message-form-input {
        width: 20vw;
        height: 2.5vh;
        margin: 2vh;
        padding: 1vh 3vw;
        border: 1px solid var(--main-gray);
        border-radius: 1vh;
    }
      #message .longinput {
        height: 13vh;
        padding: 2.5vh 3vw;
    }
    
    #message .submitbutton {
        width: 10vw;
        height: 5vh;
        padding: 0;
        margin: 3.5vh 0;
        text-decoration: none;
        color: var(--main-white);
        background-color: var(--main-gray);
        transition: 0.3s;
    }

    #message .submitbutton:hover {
        width: 10vw;
        height: 5vh;
        padding: 0;
        margin: 3.5vh 0;
        text-decoration: none;
        background-color: var(--main-white);
        color: var(--main-gray);
        transition: 0.3s;
    }
}

@media screen and (min-width: 1200px) {
    #welcome-section img {
        height: 28vh;
        width: auto;
        border: 5px solid var(--main-gray);
        border-radius: 50%;
        padding: 1.5vh;
        margin-bottom: 2vh;
    }
    
    #welcome-section h1 {
        padding: 1vw;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        left: auto;
        top: 10vh;
        background-color: var(--main-gray);
        z-index: 1;
        min-width: 10vw;
    }
}