:root {
    --main-white: #ffeeee;
    --main-gray: #333333;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    background-color: var(--main-white);
    color: var(--main-gray);
}

#navbar {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-gray);
    z-index: 10;
    height: 10vh;
    line-height: 10vh;
}

#navbar ul {
    list-style: none;
    display: inline-block;
    float: right;
    margin: 0vw 1vw;
}

#navbar li {
    text-align: center;
    display: inline;
    float: left;
}

#navbar a {
    text-decoration: none;
    color: var(--main-white);
    font-size: 1rem;
    padding: 1vw;
    border-radius: 1vw;
}

#navbar a:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 150%;
}

#welcome-section img {
    height: 35vh;
    width: auto;
    border: 5px solid var(--main-gray);
    border-radius: 50%;
    padding: 1.5vh;
    margin-bottom: 24px;
}

#welcome-section a {
    margin-top: 5vh;
    text-align: center;
    display: inline;
    float: center;
    text-decoration: none;
    background-color: var(--main-gray);
    color: var(--main-white);
    font-size: smaller;
    padding: 1vw;
    border: 2px solid var(--main-gray);
    border-radius: 1vw;
}

#welcome-section a:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
}

#contact {
    margin: 24px;
    text-align: center;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20vw;
}

.contact-wrapper a {
    text-decoration: none;
    color: var(--main-gray);
    display: flex;
    margin: 1.5vw;
    margin-left: 0px;
    padding: 0.3vw;
    border: 2px solid var(--main-gray);
    border-radius: 5px;
    width: 3vw;
    height: 3vw;
    justify-content: center;
}

.contact-wrapper a:hover {
    background-color: var(--main-gray);
    color: var(--main-white);
}