#video-content {
    text-align: center;
    margin-top: 13vh;
}

#video-content h2 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#video-content .youtube-video {
    display: flex;
    max-width: 80vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#video-content .youtube-video iframe {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 320px;
    height: 180px;
}

@media screen and (min-width: 600px) {
    #navbar ul {
        list-style: none;
        float: right;
        margin-right: 0.5vw;
    }

    #video-content .youtube-video iframe {
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 560px;
        height: 315px;
    }    
}