body {
    background-color: var(--main-white);
    color: var(--main-gray);
}

#newsletter {
    text-align: center;
    margin-top: 13vh;
    margin-bottom: 2vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    height: 77vh;
}

#newsletter img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 70vw;
}

.revue-form-field {
    width: 50vw;
    height: 3vh;
    margin: 1vh;
    padding: 1vh 5vw;
    border: 1px solid var(--main-gray);
    border-radius: 1vh;
    font-family: sans-serif;
}

.submitbutton {
    width: 25vw;
    height: 5vh;
    padding: 0;
    margin: 3vh 0;
    text-decoration: none;
    color: var(--main-white);
    background-color: var(--main-gray);
    transition: 0.3ms;
    border-radius: 1vw;
}

.submitbutton:hover {
    width: 25vw;
    height: 5vh;
    padding: 0;
    margin: 3vh 0;
    text-decoration: none;
    background-color: var(--main-white);
    color: var(--main-gray);
    transition: 0.3ms;
    border-radius: 1vw;
}

footer {
    text-align: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

@media screen and (min-width: 800px) {
    #newsletter img {
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 40vw;
    }

    .revue-form-field {
        width: 20vw;
        height: 2vh;
        margin: 1vh;
        padding: 1vh 5vw;
        border: 1px solid var(--main-gray);
        border-radius: 1vh;
        font-family: sans-serif;
    }
    
    .submitbutton {
        width: 10vw;
        height: 5vh;
        padding: 0;
        margin: 3.5vh 0;
        text-decoration: none;
        color: var(--main-white);
        background-color: var(--main-gray);
        transition: 0.3ms;
        border-radius: 1vw;
    }

    .submitbutton:hover {
        width: 10vw;
        height: 5vh;
        padding: 0;
        margin: 3.5vh 0;
        text-decoration: none;
        background-color: var(--main-white);
        color: var(--main-gray);
        transition: 0.3ms;
        border-radius: 1vw;
    }
}